In [1]:
import pandas as pd
# df=pd.read_csv("data2/survey_results_public.csv")
# df

In [2]:
df.loc[2:10,"MainBranch"]

NameError: name 'df' is not defined

In [ ]:
filt=df["LanguageWorkedWith"].str.contains("JavaScript",na=False)
df.loc[filt,["LanguageWorkedWith","Country"]].head(40)

In [ ]:
schema_df=pd.read_csv("data2/survey_results_schema.csv")
schema_df

In [ ]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [ ]:
# high_salary=df["ConvertedComp"]>70000
# df.loc[high_salary,["Country","LanguageWorkedWith","ConvertedComp"]]
countries=["United States","India","United Kingdom","Germany","Canada"]
country=df["Country"].isin(countries)
df.loc[country,"Country"]

In [ ]:
countries=["Bangladesh","India","USA","United Kingdom"]
country_filt=df["Country"].isin(countries)
df.loc[country_filt,"Country"]

In [ ]:
filt=df["LanguageWorkedWith"].str.contains("Python",na=False)
df.loc[filt,"LanguageWorkedWith"]

In [ ]:
pip install numpy

In [ ]:
import numpy as np
df = pd.DataFrame({
'name':['Jane','John','Ashley','Mike','Emily','Jack','Catlin'],
'ctg':['A','A','C','B','B','C','B'],
'val':np.random.random(7).round(2),
'val2':np.random.randint(1,10, size=7)
})
df

In [ ]:
filt=(df["val"]>.5) 
df[filt]

In [ ]:
name=["new","new2","new5","John"]
filt=df["name"].isin(name)
df.loc[filt]

In [ ]:
filt=df["name"].str.startswith("J")
df.loc[filt]

In [ ]:
df.query('ctg == "B" and val > 0.5')

In [ ]:
df.nlargest(3,"val")

In [ ]:
df.nsmallest(2,"val2")

In [ ]:
for item,value in zip([1,2,3],["a","b","c"]):
    print(item,value)

In [ ]:
headers=['amount', 'duration', 'rate', 'down_payment']
values=[883000.0, 16.0, 0.14, 10]

In [ ]:
def create_item_dict(values,headers):
    result={}
    
    for value,header in zip(values,headers):
        result[header]=value
    return result

In [ ]:
create_item_dict(values,headers)

In [3]:
data={
    "Return Flight":[200,250,370,None],
    "Hotel per day":[20,30,15,None],
    "Weekly car rental":[200,None,80,70]
}
df=pd.DataFrame(data,index=["Paris","London","Dubai","Mumbai"])
df

        Return Flight  Hotel per day  Weekly car rental
Paris           200.0           20.0              200.0
London          250.0           30.0                NaN
Dubai           370.0           15.0               80.0
Mumbai            NaN            NaN               70.0

In [12]:
# df.mean()
df.fillna(df.mean())

        Return Flight  Hotel per day  Weekly car rental
Paris      200.000000      20.000000         200.000000
London     250.000000      30.000000         116.666667
Dubai      370.000000      15.000000          80.000000
Mumbai     273.333333      21.666667          70.000000

In [ ]:
# df.drop("total",axis=1,inplace=True)

In [ ]:
def total_sum(x):
    result=0
    for i in x:
        result+=i
    return result

In [ ]:
df["total"]=df.sum(axis=1)
df