In [1]:
people={
    "first":["Corey","Jane","John","Ray"],
    "last":["Schafer","Doe","Doe","Misterio"],
    "email":["Schafer@gmail.com","john@gmail.com","jane@gmail.com","Ray@gmail.com"]
}

In [2]:
people["first"]

['Corey', 'Jane', 'John', 'Ray']

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(people)

In [5]:
df

   first      last              email
0  Corey   Schafer  Schafer@gmail.com
1   Jane       Doe     john@gmail.com
2   John       Doe     jane@gmail.com
3    Ray  Misterio      Ray@gmail.com

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
df["email"]

0    Schafer@gmail.com
1       john@gmail.com
2       jane@gmail.com
3        Ray@gmail.com
Name: email, dtype: object

In [8]:
df.email

0    Schafer@gmail.com
1       john@gmail.com
2       jane@gmail.com
3        Ray@gmail.com
Name: email, dtype: object

In [9]:
df[["first","last"]]

   first      last
0  Corey   Schafer
1   Jane       Doe
2   John       Doe
3    Ray  Misterio

In [10]:
df[["first","last","email"]]

   first      last              email
0  Corey   Schafer  Schafer@gmail.com
1   Jane       Doe     john@gmail.com
2   John       Doe     jane@gmail.com
3    Ray  Misterio      Ray@gmail.com

In [11]:
df

   first      last              email
0  Corey   Schafer  Schafer@gmail.com
1   Jane       Doe     john@gmail.com
2   John       Doe     jane@gmail.com
3    Ray  Misterio      Ray@gmail.com

In [12]:
df.iloc[[0,1],[1,2]]

      last              email
0  Schafer  Schafer@gmail.com
1      Doe     john@gmail.com

In [13]:
df.iloc[[0,1]]

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com

In [14]:
df.loc[[0,1]]

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com

In [15]:
df.loc[[0,1],["first","last"]]

   first     last
0  Corey  Schafer
1   Jane      Doe

In [16]:
df

   first      last              email
0  Corey   Schafer  Schafer@gmail.com
1   Jane       Doe     john@gmail.com
2   John       Doe     jane@gmail.com
3    Ray  Misterio      Ray@gmail.com

In [27]:
# df.set_index("email")
# df.set_index("email",inplace=True)

In [28]:
df.index

Index(['Schafer@gmail.com', 'john@gmail.com', 'jane@gmail.com',
       'Ray@gmail.com'],
      dtype='object', name='email')

In [29]:
df.loc["Schafer@gmail.com"]

first      Corey
last     Schafer
Name: Schafer@gmail.com, dtype: object

In [30]:
df

                   first      last
email
Schafer@gmail.com  Corey   Schafer
john@gmail.com      Jane       Doe
jane@gmail.com      John       Doe
Ray@gmail.com        Ray  Misterio