In [1]:
people={
    "first":["Corey","Jane","John","Ray"],
    "last":["Schafer","Doe","Doe","Misterio"],
    "email":["Schafer@gmail.com","john@gmail.com","jane@gmail.com","Ray@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(people)
df

   first      last              email
0  Corey   Schafer  Schafer@gmail.com
1   Jane       Doe     john@gmail.com
2   John       Doe     jane@gmail.com
3    Ray  Misterio      Ray@gmail.com

In [11]:
filt=(df["last"]=="Doe")|(df["first"]=="ray")
df[~filt]

   first      last              email
0  Corey   Schafer  Schafer@gmail.com
3    Ray  Misterio      Ray@gmail.com