In [1]:
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["Schafer@gmail.com","john@gmail.com","jane@gmail.com"]
}

In [2]:
people["first"]

['Corey', 'Jane', 'John']

In [3]:
import pandas as pd

In [7]:
df=pd.DataFrame(people)

In [8]:
df

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com
2   John      Doe     jane@gmail.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df["email"]

0    Schafer@gmail.com
1       john@gmail.com
2       jane@gmail.com
Name: email, dtype: object

In [12]:
df.email

0    Schafer@gmail.com
1       john@gmail.com
2       jane@gmail.com
Name: email, dtype: object

In [14]:
df[["first","last"]]

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [16]:
df[["first","last","email"]]

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com
2   John      Doe     jane@gmail.com

In [17]:
df

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com
2   John      Doe     jane@gmail.com

In [18]:
df.iloc[0]

first                Corey
last               Schafer
email    Schafer@gmail.com
Name: 0, dtype: object

In [24]:
df.iloc[[0,1]]

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com

In [25]:
df.loc[[0,1]]

   first     last              email
0  Corey  Schafer  Schafer@gmail.com
1   Jane      Doe     john@gmail.com

In [29]:
df.loc[[0,1],["first","last"]]

KeyError: "None of [Int64Index([1, 1], dtype='int64')] are in the [columns]"